{% extends 'base.html' %}
{% block titulo %}
    Inicio
{% endblock %}

{% block contenido %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
<br>

<div class="container border border-card">
    <h1 class="text-center">Iniciar sesión</h1>
    <form class="text-center row g-3" action="/initSesion" method="POST">
        <div class="container border boder-card" align="center">
        <div class="mb-3 ">
            <label class="form-label" for="">Correo Electrónico</label>
            <input class="form-control" type="text" name="correo">
        </div>
        <div class="mb-3">
            <label class="form-label" for="">Contraseña</label>
            <input class="form-control" type="password" name="contra" id='contra'>
        </div>
        <button class="btn btn-primary" type="submit">Iniciar sesion</button>
        </div>
        
        <br>
    </form>
    <br>
</div>
{% endblock %}